body {
  background-color: #3D405B;
	display: flex;
  font-family: 'Roboto', sans-serif;
  color: #F4F1DE;  
}

div {
  padding: 10px;
}

.sidebar {
  padding-top: 38px;
  width: 270px;
  overflow-wrap: break-word;
}

.sidebar header {
  font-size: 25px;
  text-align: left;
}

.main {
	width: 800px;	
  overflow-wrap: break-word;
  text-align: left;
  overflow-y: auto;
  overflow-x: auto;
}

h1 {
  text-align: left;
}

footer {
  text-align: center;
}


a {
  text-decoration: none;
}

/* unvisited link */
a:link, a:visited {
  color: #F2CC8F;
}

/* mouse over link */
a:hover {
  color: #E07A5F;
}

/* selected link */
a:active {
  color: #ff5628;
}

img {
  max-width: 80%;
  background: #1f2138;
  padding: 3px;
}

.main .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.date {
  font-style: italic;
  color: #a5a28b;
  padding: 0px;
}

.groups {
  font-style: italic;
  color: #a5a28b;
  padding: 0px;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;  
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: white; 
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 194, 194); 
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* code {
  
} */
