body {
  background-color: #3D405B;
	display: flex;
  flex-direction: row;
  
  color: #F4F1DE;  
  font-size: 17px;
}

div {
  padding: 10px;
}

.sidebar {
  font-family: 'Roboto', sans-serif;
  padding-top: 38px;
  width: 310px;
  overflow-wrap: break-word;
}

.sidebar .header {
  font-family: 'Recursive', sans-serif;
  font-size: 25px;
  text-align: left;
}




.topbar, .topbar-menu {
  display: none;
}

.main {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
	width: 800px;	
  overflow-wrap: break-word;
  text-align: left;
  overflow-y: auto;
  overflow-x: auto;
}

h1 {
  text-align: left;
}

blockquote {
  background-color: rgb(0, 0, 0, 0.1);
  /* opacity:0.6; */
  margin: 15px;
  padding: 15px;
}

footer {
  text-align: center;
}


a {
  text-decoration: none;
}

/* unvisited link */
a:link, a:visited {
  color: #F2CC8F;
}

/* mouse over link */
a:hover {
  color: #E07A5F;
}

/* header link */
.sidebar .header {
  color: #F4F1DE;
}

/* mouse over header link */
.sidebar .header :hover {
  color: #E07A5F;
}


img {
  display: block;
  margin: auto;
  max-width: 80%;
  background: #1f2138;
  padding: 3px;
}

.main .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.date {
  font-style: italic;
  color: #a5a28b;
  padding: 0px;
}

.groups {
  font-style: italic;
  color: #a5a28b;
  padding: 0px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;  
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #F4F1DE; 
}
::-webkit-scrollbar-thumb:hover {
  background: #838070; 
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media screen and (min-width: 733px) {
  .topbar-menu {
    display: none;
  }
}

@media screen and (max-width: 733px) {

  body {
    /* background-color: lightgreen; */
    flex-direction: column;
    align-items: center;
  }

  .main {
    width: 90%;
  }

  .main .header {
   flex-direction: column; 
  }

  .topbar {
    width: 90%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* padding-top: 38px; */
    overflow-wrap: break-word;
    background-color: #353850;
  }
  
  .topbar .title {
    color: #F4F1DE;
    font-family: 'Recursive', sans-serif;
    padding: 0px;
    font-size: 30px;
    /* text-align: left; */
  }

  /* unvisited link */
  .topbar .title a:link, .topbar .title a:visited {
    color: #F4F1DE;
  }

  /* mouse over link */
  .topbar .title a:hover {
    color: #E07A5F;
  }

  .topbar .title:hover {
    color: #E07A5F;
  }

  .topbar .button {
    width: 40px;
    height: 40px;
    padding: 0px;
  }

  .topbar button {    
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: #F2CC8F;
  }

  /* mouse over link */
  .button:active button {
    background-color: #E07A5F;   
  }

  .button:active .topbar-menu {
    /* background-color: #E07A5F;    */
    display: flex;
  }

  .topbar-menu { 
    font-family: 'Roboto', sans-serif;   
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: space-between;

    width: 90%;
    /* height: 70px; */
    background-color: #353850;
    border-radius: 5px;
    overflow-x: auto;
  }

  /* .topbar-menu-item{
    display: flex;
    min-width: 50px;
    /* text-align: center;
  }*/

  .sidebar {
    display: none;
  }
}