body {
  background-color: #3D405B; 
  /* background-color: #282c34; */
  /* background-color: #21252b; */
	display: flex;
  flex-direction: column;
  align-items: center;
  
  color: #F4F1DE;  
  font-size: 17px;
  /* max-width: 800px; */
  /* padding: 10px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

div {
  padding: 10px;
}

.master-div {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  width: 800px;
}

.sidebar .header {
  font-family: 'Recursive', sans-serif;
  font-size: 25px;
  text-align: left;
}


.topbar {
  border-radius: 10px;
}

.topbar, .topbar-menu {
  /* padding-top: 10px; */
  display: none;
}

.main {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Lato', sans-serif;

  line-height: 1.6;
  width: 90%;  
  overflow-wrap: break-word;
  text-align: left;
  overflow-y: overlay;
  overflow-x: overlay;
}

h1, h2, h3, h4, h5 {
  font-family: 'Recursive', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

blockquote {
  background-color: rgb(0, 0, 0, 0.1);
  /* opacity: 0.85; */
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

footer {
  text-align: center;
}


a {
  text-decoration: none;
}

/* unvisited link */
a:link, a:visited {
  color: #F2CC8F;
}

/* mouse over link */
a:hover {
  color: #E07A5F;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-left: 15px; */
  /* margin-right: 15px; */
}

img {
  display: block;
  margin: auto;
  max-width: 80%;
  background: #1f2138;
  padding: 3px;
  max-height: 300px;
  /* height: 200px; */
}

ul {
  padding-left: 20px;
}

li {
  
}

.main .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.date, .groups {
  /* font-style: italic; */
  color: #a5a28b;
  padding: 0px;
}

.date {
  /* display: flex; */
  /* flex-direction: row; */
  margin: auto;
  margin-bottom: 15px;
}

.groups{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.group-link {
  background-color: rgb(0, 0, 0, 0.15);
  margin: 5px;
  padding-top: 2.5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 6px;
}

.date a:link, .date a:visited {
  color: #F4F1DE;  
  border-bottom: 2px solid #F2CC8F;
}

.date a:hover {
  color: #E07A5F;  
  border-bottom: 2px solid #E07A5F;
}

.main .header {
 flex-direction: column; 
}

.topbar {
  width: 90%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* padding-top: 38px; */
  overflow-wrap: break-word;
  background-color: #353850;
  /* background-color: #282c34; */
}

.topbar .title {
  color: #F4F1DE;
  font-family: 'Recursive', sans-serif;
  padding: 0px;
  font-size: 27px;
  /* text-align: left; */
}

/* unvisited link */
.topbar .title a:link, .topbar .title a:visited {
  color: #F4F1DE;
}

/* mouse over link */
.topbar .title a:hover {
  color: #E07A5F;
}

.topbar .title:hover {
  color: #E07A5F;
}

.topbar .button {
  width: 40px;
  height: 40px;
  padding: 0px;
}

.topbar button {    
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: #F2CC8F;
}

/* mouse over link */
.button:active button {
  background-color: #E07A5F;   
}

.button:active .topbar-menu {
  /* background-color: #E07A5F;    */
  display: flex;
}

.topbar-menu { 
  font-family: 'Roboto', sans-serif;   
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: space-between;

  width: 90%;
  /* height: 70px; */
  background-color: #353850;
  border-radius: 5px;
  overflow-x: auto;
}

.img-caption {
  margin: 0px;
  text-align: center;
  color: #a5a28b;
  /* padding-top: 7px; */
}

.spotify {
  margin:auto;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;  
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #F4F1DE; 
}
::-webkit-scrollbar-thumb:hover {
  background: #838070; 
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media screen and (min-width: 790px) {
/* @media screen and (min-width: 2000px) { */

/*   
  body {
    background-color: pink;
  } */

}

@media screen and (max-width: 790px) {
/* @media screen and (max-width: 2000px) { */

  /* body {
    background-color: pink;
  } */

  .master-div{
    width: 103%;
  }

  img {
    max-width: 95%;
    max-height: 220px;
    /* height: 200px; */
  }

  .main {
    width: 90%;
  }

  .main .header {
   flex-direction: column; 
  }

  .sidebar {
    display: none;
  }
}