<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="http://localhost:3000/templates/base.css">

  <title>The Lucca Logs</title>
</head>
<body>

  <div class="sidebar">    
    <header>The Lucca Logs</header>
    <br>
    <b>Posts</b>
    <ul>
      <li><a href="/index">Index</a></li>
      <li><a href="/test">Just testing</a></li>
      <li><a href="/redstone">RedstoneBot</a></li>
      <li><a href="/boxworld">Box World</a></li>
      <li><a href="/ram">Album Review - <i>RAM</i></a></li>
      <li><a href="/discovery">Album Review - <i>Discovery</i></a></li>
      <li><a href="/sinnohvation">Album Review - <i>Sinnohvation</i></a></li>
    </ul>
    <b>Important Links</b>
    <ul>
      <li><a href="https://www.github.com/ChromeUniverse">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/lucca-rodrigues-61b8271b3/">LinkedIn</a></li>
      <li><a href="https://www.youtube.com/channel/UCjpQ2w6Di2f-tyCiK6mVGlA">YouTube</a></li>
    </ul>
  </div>

  <div class="main">        
    CONTENTGOESHERE
    <hr>
    <footer>© Lucca Rodrigues 2021</footer>    
  </div>


</body>
</html>