<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="http://34.200.98.64:3000//templates/base.css">

  <title>The Lucca Logs</title>
</head>
<body>

  <div class="sidebar">    
    <header>The Lucca Logs</header>
    <br>
    <b>General</b>
    <ul>
      <li><a href="/index">Index</a></li>
      <li><a href="/test">Just testing</a></li>                 
      <li><a href="/all">All posts</a></li>
    </ul>

    <b>Album reviews</b>
    <ul>
      <li><a href="/ram"><i>R.A.M.</i></a></li>
      <li><a href="/discovery"><i>Discovery</i></a></li>
      <li><a href="/sinnohvation"><i>Sinnohvation</i></a></li> 
    </ul>

    <b>Programming Projects</b>
    <ul>
      <li><a href="/redstone">RedstoneBot</a></li>
      <li><a href="/boxworld">Box World</a></li>
      <li><a href="/tank-battle"><i>Tank Battle!</i></a></li>
    </ul>

    <b>Links</b>
    <ul>
      <li><a href="https://www.github.com/ChromeUniverse">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/lucca-rodrigues-61b8271b3/">LinkedIn</a></li>
      <li><a href="https://www.youtube.com/channel/UCjpQ2w6Di2f-tyCiK6mVGlA">YouTube</a></li>
    </ul>

  </div>

  <div class="main">        
    CONTENTGOESHERE
    <hr>
    <footer>© Lucca Rodrigues 2021</footer>    
  </div>


</body>
</html>