<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="http://localhost:3000/templates/base.css">

  <title>My webpage</title>
</head>
<body>

  <div class="sidebar">
    <h1><i>The Lucca Logs</i></h1> 
    <ul>
      <li><a href="/index">Index</a></li>
      <li><a href="/test">Just testing</a></li>
      <li><a href="/redstone">RedstoneBot</a></li>
      <li><a href="/boxworld">Box World</a></li>
    </ul>
  </div>

  <div class="main">    
    
    CONTENTGOESHERE
    <hr>
    <p>© Lucca Rodrigues 2021</p>
    
  </div>


</body>
</html>