---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contact" description="Get in touch!">
  <!-- Title -->
  <h1 class="pb-2 text-center text-4xl font-bold">Contact</h1>
  <!-- Subtitle -->
  <h2 class="mt-4 text-center text-lg text-zinc-400">
    Got a <a
      class="font-bold text-zinc-300 hover:text-blue-500 hover:underline hover:decoration-2"
      href="/me#freelancing">business inquiry</a
    >? Want to ask me about my work? <br />
    Just wanna say hi? Fill out the form below!
  </h2>

  <!-- Contact form -->
  <div class="mx-auto mt-4 w-[90%] md:w-[400px]">
    <form
      action="/contact/success"
      name="contact"
      method="POST"
      data-netlify="true"
    >
      <!-- Hidden Subject Input (Netlify) -->
      <!-- <input
        type="hidden"
        name="subject"
        value="Message from mysitename.netlify.app"
      /> -->

      <!-- Name -->
      <p class="form-input-line">
        <label for="name">Name</label>
        <input
          required
          id="name"
          type="text"
          name="name"
          placeholder="Gavin Belson"
        />
      </p>
      <!-- Email -->
      <p class="form-input-line">
        <label for="email">Email</label>
        <input
          required
          id="email"
          type="email"
          name="email"
          placeholder="gavin@hooli.com"
        />
      </p>
      <!-- Message -->
      <p class="form-input-line">
        <label for="message">Message</label>
        <textarea
          required
          minlength="20"
          id="message"
          name="message"
          rows="5"
          placeholder="Greetings. Gavin Belson here, senior executive and Chief Innovation Officer at Hooli, Inc. Nice to meet you!"
        ></textarea>
      </p>
      <!-- Submit button -->
      <p class="flex justify-center">
        <button
          class="rounded-lg bg-blue-500 px-4 py-2 text-lg font-bold text-white transition-all hover:bg-white hover:text-blue-500"
          type="submit">Send</button
        >
      </p>
    </form>
  </div>
</Layout>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .form-input-line {
      @apply py-2;
    }

    .form-input-line label {
      @apply mb-1 block font-bold;
    }

    .form-input-line input,
    .form-input-line textarea {
      @apply w-full rounded-lg border-transparent bg-zinc-800 text-lg text-zinc-200 placeholder:text-zinc-500 focus:border-blue-500;
    }
  }
</style>
