---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Message sent">
  <!-- Title -->
  <h1 class="font-bold text-4xl text-center pb-2">Success!</h1>

  <!-- Content -->
  <main class="flex flex-col h-full items-center justify-center">
    <p class="text-xl text-zinc-400 text-center">
      Thank you! Your message has been received. <br />
      I'll get back to you as soon as possible.
    </p>

    <!-- Links -->
    <div class="flex justify-center gap-2 mt-4">
      <!-- <a
        class="text-white text-lg font-bold bg-blue-500 px-4 py-2 rounded-lg hover:bg-white hover:text-blue-500 transition-all"
        href="/contact">Back</a
      > -->
      <a
        class="text-white text-lg font-bold bg-blue-500 px-4 py-2 rounded-lg hover:bg-white hover:text-blue-500 transition-all"
        href="/">Home</a
      >
    </div>
  </main>
</Layout>
