---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Hero -->
  <div class="flex w-full justify-between">
    <!-- Content -->
    <div class="text-xl text-zinc-300 flex flex-col gap-3 justify-center">
      <!-- Title -->
      <h1 class="text-5xl font-heading font-bold text-white">
        Lucca Rodrigues
      </h1>
      <!-- Subtitle -->
      <p class="font-body">Web Developer • Musician • Student</p>
    </div>
    <!-- Image -->
    <img
      class="w-56 grayscale rounded-full"
      src="/bass.jpg"
      alt="Picture of me playing bass"
    />
  </div>
</Layout>
