---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../content/articles/*.md");

// fetch and sort posts by descending date
const frontmatterList = posts.map((post) => post.frontmatter);
const sortedFrontmatterList = frontmatterList
  .filter((fm) => fm.public)
  .sort((f1, f2) => {
    const date1 = new Date(f1.date);
    const date2 = new Date(f2.date);
    return date2.getTime() - date1.getTime();
  })
  .slice(0, 6);
---

<Layout description="Welcome to my website!">
  <main class="flex flex-col gap-20">
    <!-- Hero -->
    <div
      class="flex flex-col-reverse items-center justify-between gap-10 font-heading md:flex-row"
    >
      <!-- Text  -->
      <div class="flex flex-col justify-center">
        <!-- Title -->
        <h1
          class="bg-gradient-to-r from-sky-400 to-violet-500 bg-clip-text pb-2 text-center text-4xl font-extrabold tracking-tight text-transparent md:text-left md:text-5xl"
        >
          Lucca Rodrigues
        </h1>
        <!-- Subtitle -->
        <p
          class="text-center text-base font-bold tracking-tight text-zinc-100 md:text-left md:text-xl"
        >
          Student • Software Developer • Musician
        </p>
        <!-- Description -->
        <p
          class="mt-4 text-center text-lg text-zinc-400 md:max-w-lg md:text-left md:text-lg"
        >
          <!-- <br /> -->
          ECE @ Carnegie Mellon. Building full-stack web apps professionally and
          for fun.
          <a
            href="/contact"
            class="text-blue-400 hover:underline hover:decoration-blue-500 hover:decoration-2"
            >Open to business inquiries.</a
          >
        </p>
      </div>
      <!-- Image -->
      <img
        class="w-48 rounded-full grayscale"
        src="/bass.jpg"
        alt="Picture of Lucca playing bass guitar"
      />
    </div>

    <!-- Latest blog articles -->
    <div class="font-heading text-lg text-zinc-300">
      <div class="flex justify-between">
        <h2 class="text-2xl font-bold text-white md:text-3xl">
          Latest Articles
        </h2>
        <a
          href="/blog"
          class="flex items-center justify-center rounded-full bg-zinc-800 px-4 py-1 text-sm text-white transition-all hover:bg-zinc-700"
          >View all</a
        >
      </div>
      <div class="mt-5 flex flex-col gap-2">
        {
          sortedFrontmatterList.map((fm, index) => {
            const date = new Date(fm.date);
            const formattedDate = date.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            });

            return (
              <a href={`/blog/${fm.slug}`} class="group">
                <div class="flex justify-between">
                  <h3 class="text-base text-zinc-300 group-hover:text-white group-hover:underline group-hover:decoration-blue-500 group-hover:decoration-2 md:text-lg">
                    {fm.title}
                  </h3>
                  <p class="hidden text-blue-500 md:block">{formattedDate}</p>
                </div>
                {index !== sortedFrontmatterList.length - 1 && (
                  <hr class="my-1 h-px border-0 bg-zinc-800" />
                )}
              </a>
            );
          })
        }
      </div>
    </div>

    <!-- Bass :-) -->
    <img
      class="mx-auto w-[250px]"
      src="/images/bass-guitar.png"
      alt="Royalty-free drawing of a vintage bass guitar."
    />
    <!-- <img class="w-[60%] mx-auto" src="/images/joe-dart-no-bg.gif" alt="" /> -->
  </main>
</Layout>
