---
import Layout from "../layouts/Layout.astro";

import { Content } from "../content/general/me.md";
---

<Layout title="About Me">
  <h1 class="text-4xl text-center font-bold">About Me</h1>

  <!-- Content -->
  <main class="content">
    <Content />
  </main>
</Layout>
