---
import Layout from "../layouts/Layout.astro";

import { Content } from "../content/general/me.mdx";
---

<Layout title="About Me" description="Get to know more about me and my work">
  <h1 class="text-4xl text-center font-bold">About Me</h1>

  <!-- Content -->
  <main class="content">
    <Content />
  </main>
</Layout>
