<footer class="text-zinc-400 mt-auto pt-20 pb-6 flex flex-col gap-2">
  <!-- Attribuition -->
  <p class="text-center">
    Built with 💙 by <span class="text-white font-bold">Lucca Rodrigues</span>
  </p>
  <!-- Links -->
  <div class="flex justify-center gap-3">
    <a
      class="hover:underline hover:decoration-2 text-zinc-300 hover:text-blue-500"
      href="https://github.com/ChromeUniverse/">GitHub</a
    >
    <a
      class="hover:underline hover:decoration-2 text-zinc-300 hover:text-blue-500"
      href="https://m.youtube.com/c/LuccasLab">YouTube</a
    >
    <a
      class="hover:underline hover:decoration-2 text-zinc-300 hover:text-blue-500"
      href="https://twitter.com/OmniChrome2">Twitter</a
    >
    <a
      class="hover:underline hover:decoration-2 text-zinc-300 hover:text-blue-500"
      href="https://www.linkedin.com/in/lucca-rodrigues-61b8271b3/">LinkedIn</a
    >
  </div>
</footer>
