---
export interface Props {
  link: string;
  type: "source" | "demo" | "article";
}

const { link, type } = Astro.props as Props;

const labels = {
  source: "Source",
  demo: "Live Demo",
  article: "Project Write-Up",
};
---

<a
  target={type === "article" ? "_self" : "_blank"}
  rel={type === "article" ? "" : "noreferrer noopener"}
  class={`
    font-heading font-normal px-4 py-2 rounded-md space-x-1 text-base transition-all
    ${type === "source" && "bg-black hover:bg-opacity-40"}
    ${type === "demo" && "bg-blue-500 hover:brightness-125"}
    ${type === "article" && "bg-zinc-700 hover:brightness-125"}
  `}
  href={link}
>
  {type === "source" && <i class="fa-brands fa-github" />}
  <p class="inline">{labels[type]}</p>
  {type === "demo" && <i class="fa-solid fa-arrow-up-right-from-square" />}
</a>
