---
import { techInfo as info } from "../techInfo";
import type { TechType } from "../types";

export interface Props {
  tech: TechType;
}

const { tech } = Astro.props as Props;
---

<div
  class={`${info[tech].color} border-2 rounded-full px-4 py-1.5 flex items-center gap-1.5`}
>
  <img class="h-4" src={info[tech].src} alt={`Logo for ${info[tech].label}`} />
  <p class="hidden md:block font-heading text-sm">{info[tech].label}</p>
</div>
