---
import Layout from "../../layouts/Layout.astro";
import PortfolioList from "../../components/PortfolioList";

// ordered list of portfolio project slugs
const projectsList = [
  "luccanotes",
  "luccachat",
  "tank-battle",
  "blaring-net",
  "luccaboard",
  "mmm-wallets",
  "mmm-invites",
  "mmm-collabs",
  "mmm-tickets",
  "rest-countries-api",
  "lucca-logs",
  "quizzical",
  "crowdfunding",
  "calculator",
  "social-dashboard",
  "osumekeys",
  "tenzies",
  "travel-journal",
];

// Fetch and order portfolio projects
const projects = await Astro.glob("../../content/portfolio/*.md");
const orderedProjects = projectsList.map((targetSlug) => {
  const project = projects.find((p) => p.frontmatter.slug === targetSlug);
  if (!project) {
    throw new Error(`Couldn't find project for targetSlug ${targetSlug}`);
  }
  return project;
});
---

<Layout
  title="Portfolio"
  description="Personal and freelance projects I'm most proud of"
>
  <!-- Title -->
  <h1 class="pb-2 text-center font-heading text-4xl font-bold">My Portfolio</h1>

  <!-- Subtitle -->
  <h2 class="text-center font-heading text-xl leading-relaxed text-zinc-400">
    Personal and freelance projects I'm most proud of
  </h2>
  <PortfolioList projects={orderedProjects} client:load />
</Layout>
