---
import Layout from "../../layouts/Layout.astro";
import PortfolioList from "../../components/PortfolioList";

const projects = await Astro.glob("../../content/portfolio/*.md");
---

<Layout title="Portfolio">
  <!-- Title -->
  <h1 class="font-bold font-heading text-4xl text-center pb-2">My Portfolio</h1>

  <!-- Subtitle -->
  <h2 class="font-heading text-xl text-center text-zinc-400 leading-relaxed">
    Personal and freelance projects I'm most proud of
  </h2>
  <PortfolioList projects={projects} client:load />
</Layout>
